{{ define "main" }}

{{ .Content }}

{{ if eq (len .Sections) 0 }}
<ul>
{{ range .Pages }}
<li>{{ .Date.Format "2006" }}
<a href="{{.RelPermalink}}">{{ .Title }}</a>
{{ if .Description }} &mdash; {{ .Description }}{{ end }}
{{ end }}
</ul>
{{ end }}

{{range .Sections}}
<ul>
<li><a href="{{.Title | lower }}">{{.Title }}</a>
<ul>
{{ range .Pages }}
<li>{{ .Date.Format "2006" }}
<a href="{{.RelPermalink}}">{{ .Title }}</a>
{{ if .Description }} &mdash; {{ .Description }}{{ end }}
</li>
{{ end }}
</ul>
</li>
</ul>
{{ end }}
{{ end }}



