{{ define "main" }}
<h1>{{ if eq .RelPermalink "/tips/" }}Tips archive{{ else }}{{ .Title }}{{ end }}</h1>
<p class="lede">Notes collected over the years. Check the date: commands and advice may have changed.</p>

{{ .Content }}

{{ if eq (len .Sections) 0 }}
<ul>
{{ range .Pages }}
<li>{{ .Date.Format "2006" }}
<a href="{{.RelPermalink}}">{{ .Title }}</a>
{{ if .Description }} &mdash; {{ .Description }}{{ end }}
{{ end }}
</ul>
{{ end }}

{{range .Sections}}
<ul>
<li><a href="{{ .RelPermalink }}">{{.Title }}</a>
<ul>
{{ range .Pages }}
<li>{{ .Date.Format "2006" }}
<a href="{{.RelPermalink}}">{{ .Title }}</a>
{{ if .Description }} &mdash; {{ .Description }}{{ end }}
</li>
{{ end }}
</ul>
</li>
</ul>
{{ end }}
{{ end }}


