AddType application/xhtml+xml .xhtml
DirectoryIndex index.xhtml index.html
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.dabase\.com$ [NC]
RewriteRule ^(.*)$ http://dabase.com/$1 [R=301,L]
Redirect /~ville/mozilla http://mozilla.lucid.fi

AddType x-epoc/x-sisx-app .sisx
