body {
	font-family: Georgia,Times New Roman,Times,serif;
	color: #CCCCCC;
	background-color: black;
}

@media handheld {
	body {
		background-color: #F9F6BA;
		color: black;
	}
}

ol {
	border-radius: 0.5em;
	background:#F9F6BA none repeat scroll 0 0;
	border: thin solid #C9C69A;
}
