body {
	font-family: Georgia,Times New Roman,Times,serif;
	color: #CCCCCC;
	background-color: black;
}

@media handheld {
	body {
		background-color: #F9F6BA;
		color: black;
	}
}

ol {
	border-radius: 0.5em;
	background:#F9F6BA none repeat scroll 0 0;
	border: thin solid #C9C69A;
}

/* Stolen from http://mutt.blackfish.org.uk */

a:link {
background:none repeat scroll 0 0 transparent;
color:#0000FF;
}
a:visited {
background:none repeat scroll 0 0 transparent;
color:#CC00CC;
}
a.not-showable:link {
background:none repeat scroll 0 0 #FFCCFF;
color:#0000FF;
}
a.not-showable:visited {
background:none repeat scroll 0 0 #FFCCFF;
color:#CC00CC;
}
a[href]:hover, a[href]:focus, a[href]:active {
background:none repeat scroll 0 0 #FFFFCC;
color:#333333;
}
a[href]:active {
background:none repeat scroll 0 0 #FFFFFF;
color:#FF0033;
}
