<head>
  <meta charset="utf-8" />
  {{- $title := partial "page-title.html" . }}
  {{- $desc := partial "page-description.html" . }}
  {{- $image := partial "page-image.html" . }}
  <title>{{ $title }}</title>
  <meta name="description" content="{{ $desc }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ if .Params.noindex }}<meta name="robots" content="noindex, follow" />{{ end }}
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $desc }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  {{ with .Params.podcast }}
  <meta property="og:audio" content="{{ .audioUrl }}" />
  {{ end }}
  {{ if .Params.icon }}
  <link rel="icon" href="{{ .Params.icon }}" sizes="any" type="image/svg+xml" />
  {{ else }}
  <link
    rel="icon"
    href="https://hendry.iki.fi/kaihendry.svg"
    sizes="any"
    type="image/svg+xml"
  />
  {{ end }}
  <meta name="twitter:creator" content="@kaihendry" />
  {{ with $image.url }}
  <meta property="og:image" content="{{ . }}" />
  <meta name="twitter:image" content="{{ . }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {{ with $image.alt }}<meta property="og:image:alt" content="{{ . }}" /><meta name="twitter:image:alt" content="{{ . }}" />{{ end }}
  {{ else }}
  <meta name="twitter:card" content="summary" />
  {{ end }}
  {{ if and .IsPage (eq .Section "blog") (not .Params.noindex) }}
  {{ $article := dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" $title "description" $desc "url" .Permalink "mainEntityOfPage" .Permalink "author" (dict "@type" "Person" "name" "Kai Hendry" "url" "https://hendry.iki.fi/") "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00") }}
  {{ with $image.url }}{{ $article = merge $article (dict "image" (slice .)) }}{{ end }}
  <script type="application/ld+json">{{ $article | jsonify | safeJS }}</script>
  {{ end }}
  {{ with resources.Get "css/site.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
  {{ end }}
  {{ range .AlternativeOutputFormats -}} {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
</head>
