<head>
<meta charset="utf-8">
{{ $alternate_title := replace .File.BaseFileName "_" " " | title }}
<title>{{ .Title  | default $alternate_title }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="twitter:creator" content="@kaihendry">
<link rel="stylesheet" href="/css/dark.standalone.min.css">
{{ template "_internal/google_analytics_async.html" . }}
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<meta name="twitter:creator" content="@kaihendry">
<link rel="canonical" href="{{ .Permalink }}" />
</head>
