<head>
<meta charset="utf-8">
{{ $alternate_title := replace .File.BaseFileName "_" " " | title }}
<title>{{ .Title  | default $alternate_title }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta name=viewport content="width=device-width, initial-scale=1">
{{ if .Params.icon }}
<link rel="icon" href="{{ .Params.icon }}" sizes="any" type="image/svg+xml">
{{ else }}
<link rel="icon" href="https://hendry.iki.fi/kaihendry.svg" sizes="any" type="image/svg+xml">
{{ end }}
<meta name="twitter:creator" content="@kaihendry">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
<link rel="stylesheet" href="https://newcss.net/theme/night.css">
<style>
/* https://www.youtube.com/shorts/_1vEGYWaaQY */
a {
  text-decoration: none;
  background-image: linear-gradient(red, red);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 3px;
  transition: background-size 500ms ease-in-out;
}

a:hover {
  background-size: 100% 3px;
}
</style>
{{ template "_internal/google_analytics_async.html" . }}
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
</head>
