name: Deploy Hugo site to S3/Cloudfront

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    container: peaceiris/hugo:latest
    steps:
      - uses: actions/checkout@v3
      - name: Build and Deploy
        env:
          AWS_ACCESS_KEY_ID: AKIAV5XVAVSZIFHV3MOL
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          hugo
          hugo deploy
