name: Deploy Hugo site to S3/Cloudfront

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::407461997746:role/github-actions-Role-56IHHM969DKJ
          aws-region: ap-southeast-1

      - name: Build Hugo site
        run: hugo

      - name: Sync to S3
        run: |
          aws s3 sync public/ s3://dabase.com --region ap-southeast-1 --delete --only-show-errors

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id E6OVXGA61L6G6 --paths "/*"
