name: Deploy Hugo site to S3/Cloudfront

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    container:
      image: peaceiris/hugo
    steps:
      - uses: actions/checkout@v2
      - name: Build and Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          hugo
          hugo deploy
